.about{
    height:100%;
    padding: 5%;
}

.about-content{
    padding-top: 8%;
    padding-bottom:8%;
    padding-right: 15%;
    padding-left: 10%;
    height:100%;
    width: 100%;
    display:flex;
    flex-direction:column;
    background-color: #dfc13f;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.about-image{
    
    height:100%;
    width:100%;
    background-image: url("https://relaxphysiotherapy.com/images/drr.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}